<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  <table ng-show="cancelledChallenges" class="table-hover">
    <th>
      Cancelled Requests
    </th>
    <tr ng-repeat="cancelledChallenge in cancelledChallenges">
      <td>
        {{cancelledChallenge.adversary.name}} cancelled your request.
      </td>
      <td>
        <button type="button" class="close" ng-click="deleteChallenge(cancelledChallenge)">&times;</button>
      </td>
    </tr>
  </table>
  <br/>
  <table ng-show="newChallenges" class="table-hover">
    <th>
      New Challenges
    </th>
    <tr ng-repeat="newChallenge in newChallenges">
      <td>
        {{newChallenge.challenger.name}} wants to play!
      </td>
      <td>
        <button type="button" ng-click="createGame(curUser,newChallenge.challenger._id)">
          white
        </button>
      </td>
      <td>
        <button type="button" ng-click="createGame(newChallenge.challenger._id, curUser)">
          black
        </button>
      </td>
      <td>
        <button type="button" class="close" ng-click="cancelChallenge(newChallenge)">&times;</button>
      </td>
    </tr>
  </table>
  <br/>

  <table ng-show="myGames" class="table-hover">
    <th>
      Current Games
    </th>
    <tr ng-repeat="game in myGames">
      <td>
        {{game}} It could be your turn.
      </td>
      <td>
        <button type="button" ng-click="goToGame(game._id)">
          Play
        </button>
      </td>
    </tr>
  </table>
  <div>
    <div>
      {{challengeMessage}}
    </div>
    <form class="form" name="form" ng-submit="challenge(form)" novalidate>

        <div class="form-group">
          <label>Email of adversary: </label>

          <input type="text" class="form-control" ng-model="form.email" required>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg" type="submit">
            Challenge
          </button>
        </div>

      </form>
  </div>
</div>
